*{
  box-sizing: border-box;
}

/*Home Page*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Content_Container{
    margin-top: 5px;
    margin-bottom: 30px;
    /*padding-bottom: 150px;*/
    /*animation: 1s linear 0s 1 fadein;*/
    clear:left
}

video{
    z-index: -1;
    min-width:70vw;
    min-height:60vh;
  visibility: hidden;
}

.videoOverlay{
    position:absolute;
    float:left;
    /*background-color: rgba(50,100,256,.2);*/
    /*background-color: rgba(40,40,124,.3); use this one*/
    height:100%;
    width:100%;
    top: 0;
    right:0;
}

.videoOverlay:hover{
    /*background-color: rgba(40,150,256,.2);*/
    /*background-color: rgba(124,124,124,.3);*/
    background-color: rgba(50,100,256,.2)
}
.homeButton {
    display: inline-block;
    /*background: linear-gradient(0deg,rgba(124,124,124,.3),rgba(124,124,124,.3)), url("resources/computer.jpg") no-repeat;*/
    color: white;
    float:left;
    position:absolute;
    overflow: hidden;
  border-radius: 5px;
  background-position: center;

}

.homeButton_Container{
    position: relative;
    height:70vh;
    width:1570px;
    max-width: 95%;
  margin:auto;
  margin-top: 1.5vw;
    /*margin: 1.5vw 2.5vw 2.5vw 2.5vw;*/
    font-size: 48px;
    /*box-shadow: 20px 20px 20px rgba(120,120,120,.3);*/
}
.homeButton_Container{
    /*background-color: white;*/
}
#Coding, #Photography, #About, #shortCode, #bigAbout, #bigCoding, #skinnyPhotography,#skinnyCode, #skinnyAbout, #bigPhotography, #shortAbout {
  position:relative;
  overflow: hidden;
  width: 100%;
  height: 25%;
  margin-bottom: 2%;
}
#Photography, #bigPhotography, #skinnyPhotography {
  background: linear-gradient(0deg, rgba(50, 100, 256, 0.3), rgba(50, 100, 256, 0.1)), url("../resources/backgrounds/cameraCover.jpg") no-repeat;
  background-position: center;
}

#Coding, #skinnyCode, #shortCode, #bigCoding {
  background: linear-gradient(0deg, rgba(50, 100, 256, 0.3), rgba(50, 100, 256, 0.1)), url("../resources/backgrounds/codeImage.jpg") no-repeat;
}

#About, #skinnyAbout, #shortAbout, #bigAbout{
  background: linear-gradient(0deg, rgba(50, 100, 256, 0.3), rgba(50, 100, 256, 0.1)), url("../resources/backgrounds/aboutCover.jpg") no-repeat
}

.homeButtonText {
  position: absolute;
  bottom:10px;
  padding: 0;
  font-size: .75em;
  margin-bottom: 0;
}

#aboutText{
  right: 10px;
}

#codingText, #photoText{
  left: 10px;
}

@media (min-width: 800px) {

  .homeButton_Container{
    position: relative;
    height:80vh;
    width:1570px;
    max-width: 95%;
    margin:auto;
    margin-top: 1.5vw;
    /*margin: 1.5vw 2.5vw 2.5vw 2.5vw;*/
    font-size: 48px;
    /*box-shadow: 20px 20px 20px rgba(120,120,120,.3);*/
  }

  #Coding, #Photography, #About, #shortCode, #bigAbout, #bigCoding, #skinnyPhotography,#skinnyCode, #skinnyAbout, #bigPhotography, #shortAbout {
    position:absolute;
    overflow: hidden;
    margin-bottom: 0;
  }

  #Photography, #Coding, #About {
    float: left;
    position: absolute;
    overflow: hidden;
  }

  /*Defaults */
  #Photography, #bigPhotography, #skinnyPhotography {
    height: 100%;
    width: 49.6%;
    top: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(50, 100, 256, 0.3), rgba(50, 100, 256, 0.1)), url("../resources/backgrounds/cameraCover.jpg") no-repeat;
    background-position: center;
  }

  #Coding, #skinnyCode, #shortCode, #bigCoding {
    top: 0;
    left: 0;
    height: 49.25%;
    width: 49.6%;
    background: linear-gradient(0deg, rgba(50, 100, 256, 0.3), rgba(50, 100, 256, 0.1)), url("../resources/backgrounds/codeImage.jpg") no-repeat;
  }

  #About, #skinnyAbout, #shortAbout, #bigAbout {
    bottom: 0;
    left: 0;
    height: 49.25%;
    width: 49.6%;
    background: linear-gradient(0deg, rgba(50, 100, 256, 0.3), rgba(50, 100, 256, 0.1)), url("../resources/backgrounds/aboutCover.jpg") no-repeat;
  }

  #bigPhotography, #bigAbout, #bigCoding {
    /*background: linear-gradient(0deg,rgba(50,100,256,0.3),rgba(50,100,256,0.1)), url("resources/computer.jpg") no-repeat;*/
    z-index: 1;
  }
  /*Modify widths of sections*/
  #shortAbout, #shortCode, #bigAbout, #bigCoding, #bigPhotography {
    width: 74.5%;
  }

  #skinnyAbout, #skinnyCode, #skinnyPhotography {
    width: 24.5%;
  }

  /*Modify Heights */

  #shortAbout, #shortCode {
    height: 14.25%;
  }
  #bigAbout, #bigCoding {
    z-index: 1;
    height: 84.25%;
  }

  /*Transition Speeds*/
  #About, #skinnyAbout, #shortAbout, #bigAbout, #Coding, #skinnyCode, #shortCode,
  #bigCoding, #Photography, #skinnyPhotography, #shortPhotographyTop, #bigPhotography {
    transition: linear .5s;

  }

  .homeButtonText {
    position: absolute;
    bottom:10px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(125,125,125,.5);
    overflow: hidden;
    max-width: 85%;
    font-size: 1em;
  }

  #photoText{
    right: 10px;
    left:auto;
  }

  #codingText, #aboutText{
    left: 10px;
    right: auto;
  }
}

@media(min-width:20000px){
  #photoText{
    right: 0px;
  }
  .homeButtonText{
    max-width:.75em;
    margin:0;
    padding:10px;
    font-size:.75em;
    word-break: break-all;
    text-transform: uppercase;
    text-align: center;
    top:0px;
    bottom:0px;
  }
  #codingText, #aboutText{
    left:0px;
  }
  video{
    visibility: hidden;
  }
}
@keyframes slide {
  from { background-position: 0 0;}
  to { background-position: -400px 0;}
}
body {
    font-family: "Roboto Mono" ,"Lucida Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    /*height:1050px;
    width:1595px;*/
    min-height:300px;
    height:100%;
    width:100%;
    position:relative;
    font-size: 100%;
  background-image: url("../resources/qbkls.png");
  //animation: slide 60s infinite linear;
}

//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////
/*Footer */
//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////
.footer{
    /*position:absolute;*/
    /*bottom:0;
    height:150px;*/
    width:100%;
    margin-top: 10px;
    clear:left;
}
#footerText{
    font-size: 14px;
    float:left;
    text-align: left;
    /*margin-left: 100px;*/
}

#footerYear{
  clear:left;
    margin: 0 15px 0px 15px;
  float:right;
  color: gray;
  font-style: italic;
  font-size: small;

}

#social_media_bar{
  width:100%;
  text-align: center;
    /*float:left;
    clear:left;*/
    /*margin-left: 100px;*/
}

#social_media_bar img {
    height: 50px;
    width: 50px;
    margin: 5px;
}
//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////
/* Projects LIST Page*/
//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

#coding_projects, #design_projects{
    overflow: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width:95%;
  overflow: hidden;

}

.projects>li{
  list-style: none;
  flex-basis: 0;
  margin:20px;
  min-width: 330px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.projectImageWrap {
  max-width: 330px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px lightgray;
  background: white;
}
.projectImage{
  max-height: 188px;
  max-width:248px;
  height: auto;
  width: auto;
  flex:none;
}
.projectImage:hover{
  max-height: 250px;
  max-width: 330px;
  transition: ease-out .5s;;
}

.projectText {
  margin-left: 10%;
}

@media(max-width:780px) {
  .projects {
    overflow:hidden;
    max-width: 100%;
    margin:0;
    padding:0;
    justify-content: center;
  }
  .projectImage{
    max-width: 100%;
    margin:0 0 15px 0;
  }


}

//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////
//PROJECT PAGE DETAILS
//////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////
.pageImage, .technology, h1, h4,.brief, .pageLink, .sectionsContainer{
    margin-left: 15%;
}
.pageImage{
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(120,120,120,.5);
    float:left;
    max-width: 350px;
  background: white;
}
.technology{
    float:left;
    font-size: 1.1em;
    margin-top: 50px;
}

.backbutton{
    margin-left: 10%;
    text-decoration: none;
}
.backbutton img{
    max-width: 30px;
    margin: 40px 20px 20px 20px;
}

.backbutton img:hover, .pageGalleryImage:hover{
    background-color: rgba(50,100,256,.4);
}
h1{
    color:black;
    text-align: left;
    margin-top: 75px;
}

h4{
}

.pageLink{
    clear:left;
    float:left;
  padding: 16px;
}

.brief, .summary{
  line-height: 1.65;
  width: 500px;
  float:left;

}
.brief{
    clear:left;
    margin-bottom: 100px;
}
.summary{
    margin:0 20px 100px 20px;
}

.sectionsContainer{
  float:left;
  display:flex;
}
.pageGallery{
  clear:left;
  width:90%;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pageGalleryImage{
    height:auto;
    width:auto;
    max-width: 300px;
    max-height: 400px;
    padding:25px;
    object-fit: contain;

}
.pageGalleryImage:hover{
}

.about{
    margin:40px 15% 200px 15%;
    min-height: 80%;
}

.aboutPic{
    max-width: 25%;
  max-height: 400px;
    float:right;
}
.aboutText{
    max-width: 70%;
    line-height: 1.65;
}

@media only screen and (max-width: 1100px) {
  body { font-size:120%;}
  .summary, .brief{ width: 350px}
  .pageImage, .technology, h1, h4,.brief, .pageLink,.sectionsContainer {margin-left: 20px}
}

@media only screen and (max-width: 800px) {
  body { font-size:100%;}
  .summary, .brief{ width: 300px}

}

@media only screen and (max-width: 400px) {
  body { font-size:90%;}
  .pageImage{max-width: 80%}
}