
.header-logo {
  animation: App-logo-spin infinite 20s linear;
  height:50px;
  margin-left: 20px;
  float:left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  z-index: 2;
  /*position:fixed;
  top:0;*/
  color: black;
  text-align: left;
  margin-top: 10px;
  width: 100%;
  background-color: whitesmoke;
}

.header *{
  display:inline;
}
.header > div {
  line-height: 50px;
  margin: 0 0 0 10px;

}

.headerButton_Container > h2 {
  color: black;
  padding: 0;
}

.headerButton_Container > h2, .homeButton_Container{
  background-color: whitesmoke;
}

.App-intro {
  font-size: large;
}
.headerButton, .homeButton{
  cursor: pointer;
}

.headerButton_Container * {
  margin: 0 10px 0;
}

.Home_Container{
  margin-top: 5px;
  margin-bottom: 10px;
}
video{
  z-index: -1;
  min-width:1200px;
  min-height:1200px;
}

.videoOverlay{
  position:absolute;
  float:left;
  background-color: rgba(0,0,0,.5);
  height:100%;
  width:100%;
  top: 0;
  right:0;
}

.videoOverlay:hover{
  background-color: rgba(50,100,256,.2)
}
.homeButton {
  display: inline-block;
  background: linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("resources/computer.jpg") no-repeat;
  color: white;
  float:left;
  position:absolute;
  background-size: cover;
  overflow: hidden;
  border-radius: 5px;
}

.homeButton_Container{
  position: relative;
  height:850px;
  width:1550px;
  margin:auto;
  font-size: 48px;

}
#Photography, #Coding, #Design{
  float:left;
  position:absolute;
  overflow: hidden;
}

/*Defaults */
#Photography, #bigPhotography, #skinnyPhotography{
  height: 100%;
  width: 49.6%;
  top:0;
  right:0;
}

#Coding, #skinnyCode, #shortCode, #bigCoding{
  top:0;
  left:0;
  height:49.25%;
  width:49.6%;
  background-position: right;
}

#Design, #skinnyDesign, #shortDesign, #bigDesign{
  bottom:0;
  left:0;
  height:49.25%;
  width:49.6%;
  background-position: right;
}

#bigPhotography, #bigDesign, #bigCoding {
  background: linear-gradient(0deg,rgba(50,100,256,0.3),rgba(50,100,256,0.1)), url("resources/computer.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
}
/*Modify widths of sections*/
#shortDesign, #shortCode, #bigDesign, #bigCoding, #bigPhotography{
  width: 74.5%;
}

#skinnyDesign, #skinnyCode, #skinnyPhotography{
  width: 24.5%;
}

/*Modify Heights */

#shortDesign, #shortCode{
  height: 14.25%;
}
#bigDesign, #bigCoding{
  z-index: 1;
  height:84.25%;
}

/*Transition Speeds*/
#Design, #skinnyDesign, #shortDesign, #bigDesign, #Coding, #skinnyCode, #shortCode,
#bigCoding,#Photography, #skinnyPhotography, #shortPhotographyTop, #bigPhotography{
  transition: 1s;

}

span {
  position: absolute;
  bottom:10px;
}

#photoText{
  right: 20px;
}

#codingText, #designText{
  left: 20px;
}

body {
  font-family: Avenir,"Lucida Sans", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  text-align: center;
  height:1100px;
  width:100%;

}

.footer{
  position:relative;
  float:left;
  width:100%;
  margin-top: 40px;
}
#footerText{
  font-size: 14px;
  float:left;
  text-align: left;
  margin-left: 100px;
}

#footerYear{
  margin-right:15px;
}

#social_media_bar{
 float:right;
  text-align: right;
  margin-top:15px;
  margin-right:80px;
}
a > img {
  height: 50px;
  width: 50px;
}

