
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height:60px;
  margin-left: 70px;
  float:left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  z-index: 2;
  position:fixed;
  top:0;
  color: black;
  text-align: left;
  width: 100%;
  background-color: whitesmoke;
}

.header *{
  display:inline;
}
.header > div {

  line-height: 60px;
  margin: 0 0 30px 10px;

}

.App-intro {
  font-size: large;
}
.headerButton, .homeButton_Container{
  cursor: pointer;
}

.headerButton_Container * {
  margin: 0 10px 0;
}

.Home_Container{
  margin-top: 70px;
}

.homeButton {
  display: inline-block;
  background: url("resources/computer.jpg") top left;
  color: white;
  float:left;
  position:absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeButton_Container{
  position: relative;
  height:800px;
  width:1000px;
  margin:auto;
  font-size: 32px;
  background-color: #ffffff;
  border: solid 30px #ffffff;
}
#Photography, #Coding, #Design{
  float:left;
  position:absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Defaults */
#Photography, #bigPhotography, #skinnyPhotography{
  height: 100%;
  width: 49%;
  top:0;
  right:0;
}

#Coding, #skinnyCode, #shortCode, #bigCoding{
  top:0;
  left:0;
  height:49%;
  width:49%;
  background-position: right;
}

#Design, #skinnyDesign, #shortDesign, #bigDesign{
  bottom:0;
  left:0;
  height:49%;
  width:49%;
  background-position: right;
}

#bigPhotography, #bigDesign, #bigCoding {
  z-index: 1;
}
/*Modify widths of sections*/
#shortDesign, #shortCode, #bigDesign, #bigCoding, #bigPhotography{
  width: 69%;
}

#skinnyDesign, #skinnyCode, #skinnyPhotography{
  width: 29%;
}

/*Modify Heights */

#shortDesign, #shortCode{
  height: 34%;
}
#bigDesign, #bigCoding{
  z-index: 1;
  height:64%;
}

/*Transition Speeds*/
#Design, #skinnyDesign, #shortDesign, #bigDesign, #Coding, #skinnyCode, #shortCode,
#bigCoding,#Photography, #skinnyPhotography, #shortPhotographyTop, #bigPhotography{
  transition: 1s;

}

a > span {
  position: absolute;
  bottom:10px;
}

#photoText{
  right: 10px;
}

#codingText, #designText{
  left: 10px;
}

body {
  font-family: Avalon,"Lucida Sans", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  text-align: center;
}
a > img {
  height: 50px;
  width: 50px;
}

