/*Header css*/
.header-logo {
    animation: App-logo-spin infinite 20s linear;
    height:50px;
    margin-left: 20px;
    float:left;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.header {
    z-index: 2;
    /*position:fixed;
    top:0;*/
    color: black;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    background-color: whitesmoke;
    font-size: large;
}

.header *{
    display:inline;
}
.header > div {
    line-height: 50px;
    margin: 0 0 0 10px;

}

.headerButton_Container > h2 {
    color: black;
    padding: 0;
    font-size: xx-large;
}

.headerButton_Container > h2, .homeButton_Container{
    background-color: whitesmoke;
}

.App-intro {
    font-size: large;
}
.headerButton, .homeButton{
    cursor: pointer;
}

.headerButton_Container * {
    margin: 0 20px 0;
}


/*Home Page*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Content_Container{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 150px;
    animation: 2s ease-out 0s 1 fadein;
}

video{
    z-index: -1;
    min-width:1200px;
    min-height:1200px;
}

.videoOverlay{
    position:absolute;
    float:left;
    background-color: rgba(124,124,124,.3);
    height:100%;
    width:100%;
    top: 0;
    right:0;
}

.videoOverlay:hover{
    background-color: rgba(50,100,256,.2)
}
.homeButton {
    display: inline-block;
    background: linear-gradient(0deg,rgba(124,124,124,.3),rgba(124,124,124,.3)), url("resources/computer.jpg") no-repeat;
    color: white;
    float:left;
    position:absolute;
    background-size: cover;
    overflow: hidden;
    border-radius: 5px;
}

.homeButton_Container{
    position: relative;
    height:808px;
    width:1570px;
    margin:auto;
    font-size: 48px;

}
#Photography, #Coding, #Design{
    float:left;
    position:absolute;
    overflow: hidden;

}

/*Defaults */
#Photography, #bigPhotography, #skinnyPhotography{
    height: 100%;
    width: 49.6%;
    top:0;
    right:0;
}

#Coding, #skinnyCode, #shortCode, #bigCoding{
    top:0;
    left:0;
    height:49.25%;
    width:49.6%;
    background-position: right;
}

#Design, #skinnyDesign, #shortDesign, #bigDesign{
    bottom:0;
    left:0;
    height:49.25%;
    width:49.6%;
    background-position: right;
}

#bigPhotography, #bigDesign, #bigCoding {
    background: linear-gradient(0deg,rgba(50,100,256,0.3),rgba(50,100,256,0.1)), url("resources/computer.jpg") no-repeat;
    background-size: cover;
    z-index: 1;
}
/*Modify widths of sections*/
#shortDesign, #shortCode, #bigDesign, #bigCoding, #bigPhotography{
    width: 74.5%;
}

#skinnyDesign, #skinnyCode, #skinnyPhotography{
    width: 24.5%;
}

/*Modify Heights */

#shortDesign, #shortCode{
    height: 14.25%;
}
#bigDesign, #bigCoding{
    z-index: 1;
    height:84.25%;
}

/*Transition Speeds*/
#Design, #skinnyDesign, #shortDesign, #bigDesign, #Coding, #skinnyCode, #shortCode,
#bigCoding,#Photography, #skinnyPhotography, #shortPhotographyTop, #bigPhotography{
    transition: 1s;

}

span {
    position: absolute;
    bottom:10px;
}

#photoText{
    right: 20px;
}

#codingText, #designText{
    left: 20px;
}

body {
    font-family: Avenir,"Lucida Sans", sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: left;
    /*height:1050px;
    width:1595px;*/
    min-height:300px;
    height:100%;
    width:100%;
    position:relative;
}


/*Footer */
.footer{
    position:absolute;
    height:125px;
    width:100%;
    margin-top: 10px;
    clear:left;
    bottom:0;
}
#footerText{
    font-size: 14px;
    float:left;
    text-align: left;
    margin-left: 100px;
}

#footerYear{
    margin-right:15px;
}

#social_media_bar{
    float:right;
    text-align: right;
    margin-top:15px;
    margin-right:100px;

}

a > img {
    height: 50px;
    width: 50px;
}
/* Projects Page*/
.projects_container{
    width:100%;
    padding-bottom: 150px;
}
.projects_container > ul{
}
#coding_projects, #design_projects{
    overflow: auto;
}
.projects > li{
    list-style: none;
    margin:50px;
    position:relative;
    width: 100%;
    max-width: 400px;
    float:left;
    font-size: large;
    line-height: 30px;
}

h1{
    color:black;
    margin-top: 40px;
    text-align: center;
}
.projectImage{
    width:100%;
    height:100%;
    margin-bottom: 30px;
}
